Reading Files

In [3]:
import os
os.getcwd()

'C:\\Users\\VIJAY KUMAR\\python-practice\\Python_basics'

In [5]:
example1='Example1.txt'
with open(example1,'r') as File:
    file=File.readlines()
    print(file)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [6]:
for name in file:
    print(name)

This is line 1

This is line 2

This is line 3

In [11]:
with open(example1,'r') as read_file:
    with open("Example_lines.txt",'w') as write_file:
        write_file.write(read_file.read())

In [10]:
with open("Example_lines.txt",'r') as read_file:
    file=read_file.read()
    print(file)

This is line 1
This is line 2
This is line 3

In [12]:
songs={'Album':['Thriller','AC/DC','Back in Black','The Dark Side of the moon'],
      'Released':[1982,1966,1977,1987],
      'Length':['00:42:19','00:40:12','00:39:28','00:41:39']}

In [13]:
import pandas as pd
songs_frame=pd.DataFrame(songs)

In [14]:
songs_frame.head()

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1                      AC/DC      1966  00:40:12
2              Back in Black      1977  00:39:28
3  The Dark Side of the moon      1987  00:41:39

In [15]:
songs_frame.to_csv('songs.csv')

In [17]:
df=pd.read_csv('songs.csv')

In [18]:
df.head()

   Unnamed: 0                      Album  Released    Length
0           0                   Thriller      1982  00:42:19
1           1                      AC/DC      1966  00:40:12
2           2              Back in Black      1977  00:39:28
3           3  The Dark Side of the moon      1987  00:41:39